body {
  background: #262626 url('header.png') no-repeat center top;
  color: #000000;
  padding: 225px;
  margin: 0px -45px;
  font-size: 16px;
  font-family: Verdana, Sans-serif;
}

img {
  border: 0;
}

a {
  color: #1611a0
}

a:hover {
  text-decoration: none;
}

#head-site {
  height: 70px;
}

li.none-bg {
  background: none !important;
}

.telefon {
  float: right;
}

#basic {
  width: 960px;
  min-height: 900px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  background: #ffffff;
}

#top-menu {
  width: 960px;
  height: 100px;
}

.bg-1 {
  width: 950px;
  height: 50px;
  background: #191717 url(images/m1.png) repeat-x;
  padding: 0 0 0 10px;
}

.bg-1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bg-1 ul li {
  float: left;
  background: url(images/m2.png) no-repeat right center;
  padding: 0 2px 0 0;
}

.bg-1 ul li a {
  display: block;
  height: 40px;
  padding: 44px 120px 14px 30px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.bg-1 ul li a:hover {
  color: #000000;
  background: lightgrey;
}

.myclr {
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
}

.myclr {
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
}
#header {
	width: 748px;
	height: 504px;

}
#header ul{
	width: 680px;
	display: block;
	padding-top: 420px;
	padding-left: 60px;
	background: none;
}
#header ul li{
	background:none; height:22px; padding:0 14px 0 5px; margin:0;
	display:block;  float:left;
	}
#header ul li a{
	font: 14px Arial, Helvetica, sans-serif;
	color: #D7CEBD;
	text-decoration: none;
	text-indent: 0px;
	padding: 10px;
	font-weight: bold;
	margin: 0;
}
#header ul li a:hover{
	color: #FF9933;
	text-decoration: none;
	background-repeat: no-repeat;
}